<div class="background">
  <header>
    <h1>Tower Maze</h1>
  </header>

  <mat-card
    [@error]="(error$ | async) ? 'error' : null"
    class="prompt mat-elevation-z8"
    [ngClass]="selectedTab === 0 ? 'login' : 'signup'"
  >
    <mat-tab-group
      mat-align-tabs="center"
      disablePagination
      [selectedIndex]="selectedTab"
      (selectedIndexChange)="selectedTab = $event"
    >
      <mat-tab label="Login">
        <app-login></app-login>
      </mat-tab>

      <mat-tab label="Signup">
        <app-sign-up></app-sign-up>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
