@import '~@angular/material/theming';
@import 'variables';

.background {
  margin: 0;

  min-height: 100vh;
  min-width: 100vw;

  background: linear-gradient(to top right, mat-color($accent), mat-color($primary));
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

header {
  color: white;
  margin-bottom: 36px;
  text-align: center;
  overflow: hidden;

  h1 {
    font-size: 54px;
    line-height: 54px;
  }
}

mat-card {
  width: 320px;
  max-width: 90%;
  margin: 5px;
  transition: height 0.5s ease-in-out;
}

mat-card.login {
  height: 300px;
}

mat-card.signup {
  height: 450px;
}

::ng-deep {
  mat-tab-header {
    margin: -16px -16px 0px -16px;
  }

  mat-tab-group {
    height: 100%;
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }

  mat-tab-group .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .mat-tab-body-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
