<div class="background">
  <header>
    <h1>Welcome to Tower Maze</h1>
    <div>An interactive maze game with multiple levels of fun!</div>
  </header>

  <mat-card
    [@error]="(error$ | async) ? 'error' : null"
    class="prompt mat-elevation-z8"
    [ngClass]="selectedTab === 0 ? 'login' : 'signup'"
  >
    <mat-tab-group
      mat-align-tabs="center"
      disablePagination
      [selectedIndex]="selectedTab"
      (selectedIndexChange)="selectedTab = $event"
    >
      <mat-tab label="Login">
        <app-login *ngIf="!(loading$ | async); else loading"></app-login>
      </mat-tab>

      <mat-tab label="Signup">
        <app-sign-up *ngIf="!(loading$ | async); else loading"></app-sign-up>
      </mat-tab>

      <ng-template #loading><mat-spinner diameter="64"></mat-spinner></ng-template>
    </mat-tab-group>
  </mat-card>
</div>
