:host {
  display: grid;
  grid-template-areas:
    'nav      nav      nav'
    'world     world    world'
    'world     world    world'
    'controls controls controls';

  grid-template-rows: 56px 1fr 1fr min(128px, 20vh);
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 8px;
  margin: 8px;

  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
  max-height: 100vh;
}

.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

  .legend {
    margin-left: 8px;
  }

  .legend::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 10px;
    background-image: url('../../../assets/sprites.png');
  }

  .sprite-15::before {
    background-position: -15*16px, 0px;
  }

  .sprite-16::before {
    background-position: -16*16px, 0px;
  }

  .sprite-17::before {
    background-position: -17*16px, 0px;
  }

  .sprite-18::before {
    background-position: -18*16px, 0px;
  }
}

.chat {
  grid-area: chat;
}

.enemy {
  grid-area: enemy;
}

.world {
  grid-area: world;
}

app-world {
  display: flex;
  justify-content: center;
  grid-row: 1/3;
  grid-column: 1/3;
  align-items: center;
}

mat-card {
  display: grid;
}

.character {
  grid-area: character;
}

.inventory {
  grid-area: inventory;
}

.controls {
  grid-area: controls;
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
