<mat-card class="nav mat-elevation-z8">
  <p>Nav</p>
  <button mat-button (click)="logout()">Logout</button>
</mat-card>

<mat-card class="world mat-elevation-z8">
  <app-world></app-world>
</mat-card>

<mat-card class="controls mat-elevation-z8">
  <p>Controls</p>
  <section>
    <button mat-button (click)="movePlayer('n')">North</button>
    <button mat-button (click)="movePlayer('s')">South</button>
    <button mat-button (click)="movePlayer('n')">East</button>
    <button mat-button (click)="movePlayer('n')">West</button>
  </section>
</mat-card>
