<mat-card class="nav mat-elevation-z8">
  <p>Nav</p>
  <button mat-button (click)="logout()">Logout</button>
</mat-card>

<mat-card class="world mat-elevation-z8">
  <app-world></app-world>
</mat-card>

<mat-card class="controls mat-elevation-z8">
  <p>Controls</p>
  <section>
    <button color mat-button (click)="movePlayer('n')">&#x2191; North &#x2191;</button>
    <button mat-button (click)="movePlayer('s')">&#x2193; South &#x2193;</button>
    <button mat-button (click)="movePlayer('n')">&#x2192; East &#x2192;</button>
    <button mat-button (click)="movePlayer('n')">&#x2190; West &#x2190;</button>
  </section>
</mat-card>
