<mat-card class="nav mat-elevation-z8">
  <p>Tower Maze</p>
  <div class="legend sprite-17">You</div>
  <div class="legend sprite-15">Start</div>
  <div class="legend sprite-16">Exit</div>
  <div class="legend sprite-18">Other Players</div>
  <button mat-button (click)="logout()">Logout</button>
</mat-card>

<mat-card class="world mat-elevation-z8">
  <app-world></app-world>
</mat-card>

<mat-card class="controls mat-elevation-z8">
  <section>
    <button mat-button (click)="movePlayer('w')">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button (click)="movePlayer('n')">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button mat-button (click)="movePlayer('s')">
      <mat-icon>arrow_downward</mat-icon>
    </button>
    <button mat-button (click)="movePlayer('e')">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </section>
</mat-card>
