@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Lexend+Deca&display=swap');

$typography: mat-typography-config(
  $font-family: 'Lexend Deca, monospace'
);

$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-indigo, 300);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);
