<form [formGroup]="signUpForm" class="signup" (ngSubmit)="signUp()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput type="text" formControlName="username" />
    <mat-error *ngIf="username?.invalid">
      Please enter your username
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" />
    <mat-error *ngIf="email?.invalid">
      Please enter your email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password1" />
    <mat-error *ngIf="password?.invalid && password?.errors?.required">
      Please enter your password
    </mat-error>

    <mat-error *ngIf="password?.invalid && password?.errors?.minlength">
      Please enter at least 6 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="password2" />
    <mat-error *ngIf="confirmPassword?.invalid">
      Your password does not match
    </mat-error>
  </mat-form-field>

  <button mat-button color="primary" type="submit" aria-label="Signup">Signup</button>
</form>
